/*
 QUIZ WEBSITE LAYOUT ELEMENTS
 */

html,body {
	/* height: 100% !important;
	margin: 0;
	background-color: #fff;
    color: #333;
    
    font-size: 16px;
    line-height: 1.42857;
	overflow-x: auto;
	max-width: 100%; */

  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #474c52;
  text-align: center;
  background-color: #fff;
}

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
	box-sizing:border-box;
}

*::before, *::after {
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


 .section-background-image {
	/* background-image: url("assets/Rainy_Blue_Ridge-27527.jpg"); */
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.25;
	z-index: -1;
}

.section {
	background-color: #fff;
	/* background-image: url("assets/Rainy_Blue_Ridge-27527.jpg"); */
	color: inherit;
	position: relative;
	padding: 85px 0;
	background-color: #ffffff;
	color: inherit;
	text-align: center;




}


/* .section-dark {
	background-image: url("assets/Rainy_Blue_Ridge-27527.jpg");
	background-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
} */

.quiz-section {
	padding: 0px 0;
	text-align: center;
	height: 100%;
}

.quiz-section .container {
	position: relative;
	z-index: 1;
	vertical-align: middle;
	display: inline-block;
}

/* .quiz-section:before {
	content: "";
	display: inline-block;
	height: 100%;
	width: 1px;
	vertical-align: middle;
} */

/*make the background somewhat darker*/
/* .quiz-section:after {
	content: "";
	position: absolute;
	top: 0;
	z-index: 0;
	height: 160px;
	width: 100%;
	display: block;
	background-color: rgb(255, 255, 255);
	
	opacity: 0.3;
} */

@media ( max-width: 991px ) {
	.quiz-section.quiz-fullscreen {
		height: auto;
	}
	.quiz-start-link {
		display: none;
	}
}

.quizintrobox {
	background-color: rgba(0, 0, 0, 0);
	
	
    /* margin-top: 30px; */
    /* padding: 11.5px 17px; */
	/* max-width: 650px; */
}

.footer-section {
	padding-bottom: 30px;
	text-align: center;
	background-image: url("http://bengoodwin.com.au/js/images/footer-background.png")
}

.section-background-image {
	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	/* background-color: rgb(255, 255, 255); */
	color: #ccc;
	z-index: -1;
}


.bg {
	/* The image used */
	background-image: url("assets/Rainy_Blue_Ridge-27527.jpg");

  
	/* Full height */
	height: 100%;
  
	/* Center and scale the image nicely */
	z-index: -1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

 img {
    max-width: 100%;
    height: auto;
}

/*
 QUIZ WEBSITE CONTENT ELEMENTS
 */
 
 .p {
    margin: 0 auto 20px;
	width: 600px;
	text-align: middle;
}

 .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #222;
	margin-bottom: 10px;
	line-height: 1.0;
}
 
.section-heading {

	position: relative;
	padding-bottom: 15px;
	margin: -20px 0 10px;
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 40px;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
	color: #222;
	
}

.section-heading:after {
	
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	height: 2px;
	width: 100px;
	background-color: rgba(0, 0, 0, 0.1);
	left: 50%;
	right: 50%;
	text-align: center;
	margin-left: -50px;
}

/* Button */
.button_header,.button_reset{
	border:1px solid #689ff1; -webkit-border-radius: 1px; -moz-border-radius: 1px;border-radius: 5px;font-size:11px; letter-spacing:2px; font-style: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; padding: 18px 25px 18px 25px; text-decoration:none; display:inline-block; color: #FFFFFF;
	 background-color: #689ff1; background-image: #689ff1

}

.button_header:hover{
	 border:1px solid #3e86f3;
	 background-color: #3e86f3; background-image: -webkit-gradient(linear, left top, left bottom, from(#3e86f3), to(#1a72f7));
	 background-image: -webkit-linear-gradient(top, #3e86f3, #1a72f7);
	 background-image: -moz-linear-gradient(top, #3e86f3, #1a72f7);
	 background-image: -ms-linear-gradient(top, #3e86f3, #1a72f7);
	 background-image: -o-linear-gradient(top, #3e86f3, #1a72f7);
	 background-image: linear-gradient(to bottom, #3e86f3, #1a72f7);
}

.button {
	padding: 0px 0px;
	border-radius: 600px;
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 11px;
	line-height: 1.;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}




/* footer */ 

.list-inline {
    list-style: outside none none;
    margin-left: -5px;
    padding-left: 0;
}



.questions {
    background-color: #f6f6f6;
    margin: 15px 0;
    padding: 30px;
    text-align: center;
}

ul, ol {
    margin-bottom: 10px;
    margin-top: 0;
}

.invisible {
	display: none;
	}
	
	a, u {
    text-decoration: none;
}

a { color: inherit; } 

.container .img{
	center: middle;
	
}

#lore_brief {
	/* background-image: url("assets/Rainy_Blue_Ridge-27527.jpg"); */

	
max-width: 1170px;
center: middle;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
color: #032341;
}

#results_screen { 
max-width: 1170px;
center: middle;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}